footer{
    width: 100%;
    height: 4rem;

    background: var(--bg-header);

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text{
    font-family: var(--ff-site);
    font-size: 1.4rem;
    color: var(--c-text-descBlock);
}